body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
}

.logo img {
    max-height: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

main {
    background-image: url('background-image.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Adjust height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container {
    background-color: rgb(255, 255, 255); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.search-container input[type=text] {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.search-container button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #45a049;
}
